{
  "plugins": ["babel", "react", "react-hooks", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "camelcase": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "no-var": "error",
    "prefer-const": "warn",
    "new-cap": [
      "error",
      {
        "newIsCapExceptions": ["api.batch"],
        "capIsNew": false
      }
    ],
    "no-invalid-this": "warn",
    "no-unused-expressions": "error",
    "semi": ["error", "never"],
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "react/prop-types": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-indent": [
      "error",
      2,
      { "checkAttributes": false, "indentLogicalExpressions": true }
    ],
    "react/jsx-pascal-case": ["error", { "allowAllCaps": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unused-state": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "object-curly-spacing": "off",
    "multiline-ternary": "off",
    "no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.stories.js"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "extends": ["standard", "standard-react"],
  "env": {
    "jest": true,
    "browser": true,
    "jasmine": true
  }
}
