$link-color: blue
$primary-button-color: #337ab7
$global-background-color: white
$button-text-color: rgb(70, 70, 70)
$placeholder-color: #aaa
$dropdown-hover-color: #f5f5f5
$dropdown-selected-color: #f5f5f5
$text-muted-color: #999
$icon-color: black
$slider-shadow-dark-color: #555
$slider-shadow-light-color: #333
$active-colour: #337ab7
$nav-link-colour: #337ab7
$nav-active-colour: #6da5d6
$nav-color-disabled: rgb(164, 164, 164)
$table-row-background: rgba(0, 0, 0, 0.02)
$table-row-active-color: rgba(0, 0 , 0, 0.05)
$border-color: rgb(204, 204, 204)
$table-border-color: rgb(236,238,239)
$border-color-hover: rgb(234, 234, 234)
$error_message_color: rgb(181, 28, 28)
$error_message_background_color: $global-background-color
