@import 'colours'

input[type=range]
  -webkit-appearance: none

input[type=range]:focus
  outline: none

input[type=range]::-webkit-slider-runnable-track
  height: 8.4px
  cursor: pointer
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color
  background: $global-background-color
  border-radius: 1.3px
  border: 0px solid #010101

input[type=range]::-webkit-slider-thumb
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color
  border: 1px solid rgba(0, 0, 0, 0)
  height: 16px
  width: 9px
  border-radius: 2px
  background: $global-background-color
  cursor: pointer
  -webkit-appearance: none
  margin-top: -3.8px

input[type=range]:focus::-webkit-slider-runnable-track
  background: $global-background-color

input[type=range]::-moz-range-track
  height: 8.4px
  cursor: pointer
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color
  background: $global-background-color
  border-radius: 1.3px
  border: 0px solid #010101

input[type=range]::-moz-range-thumb
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color
  border: 1px solid rgba(0, 0, 0, 0)
  height: 16px
  width: 9px
  border-radius: 2px
  background: #ffffff
  cursor: pointer

input[type=range]::-ms-track
  height: 8.4px
  cursor: pointer
  background: transparent
  border-color: transparent
  color: transparent

input[type=range]::-ms-fill-lower
  background: $global-background-color
  border: 0px solid #010101
  border-radius: 2.6px
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color

input[type=range]::-ms-fill-upper
  background: $global-background-color
  border: 0px solid #010101
  border-radius: 2.6px
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color

input[type=range]::-ms-thumb
  box-shadow: 0px 0px 1px $slider-shadow-dark-color, 0px 0px 0px $slider-shadow-light-color
  border: 1px solid rgba(0, 0, 0, 0)
  height: 16px
  width: 9px
  border-radius: 2px
  background: #ffffff
  cursor: pointer
  height: 8.4px

input[type=range]:focus::-ms-fill-lower
  background: $global-background-color

input[type=range]:focus::-ms-fill-upper
  background: $global-background-color
